#jinja2: trim_blocks:False
[core]
  editor = emacs -nw
[push]
  default = current
[pull]
  default = current
[alias]
  re = review
  ec = config --global -e
  fp = !git fetch --prune
  co = checkout
  cob = checkout -b
  st = status
  rh = reset --hard
  amend = commit --amend
  wip = !git add -u && git commit -m 'WIP'
  rs = !git reset --soft HEAD~ && git reset HEAD .

  # remove merged local branches
  pl = !git branch --merged | xargs git branch -D

  # fetches repository and synchronizes currently checked out branch with the same remotely tracked one
  fprc = !git fetch --prune $(git remote | head -n 1) && git reset --hard $(git remote | head -n 1)/$(git symbolic-ref --short HEAD)

  # lists out remote branches with information on last commit date and author
  recent = !git branch -r | grep -v HEAD | xargs -L1 git --no-pager log --pretty=tformat:'%at %Cgreen%d%Creset - %h by %an (%Cblue%ar%Creset)' -1 | sort -r

  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[user]
  email = {% if gitconfig_email is defined %}{{ gitconfig_email }}{% endif %}
  name  = {% if gitconfig_name is defined %}{{ gitconfig_name }}{% endif %}
